@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 222 47% 11%;
    --card: 210 40% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 210 40% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 246 100% 66%;
    --primary-foreground: 246 100% 98%;
    --secondary: 210 40% 91%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 91%;
    --muted-foreground: 222 40% 45%;
    --accent: 200 95% 74%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 246 100% 66%;
    --chart-1: 246 80% 70%;
    --chart-2: 200 80% 70%;
    --chart-3: 30 80% 70%;
    --chart-4: 173 58% 39%;
    --chart-5: 49 98% 64%;
    --radius: 0.5rem;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 246 100% 75%;
    --sidebar-primary-foreground: 246 100% 98%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 246 100% 66%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 246 100% 66%;
    --primary-foreground: 246 100% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 200 95% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 22%;
    --input: 217 33% 22%;
    --ring: 246 100% 66%;
    --chart-1: 246 70% 60%;
    --chart-2: 200 70% 60%;
    --chart-3: 30 70% 60%;
    --chart-4: 173 58% 39%;
    --chart-5: 49 98% 64%;
    
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 246 100% 75%;
    --sidebar-primary-foreground: 246 100% 98%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 22%;
    --sidebar-ring: 246 100% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
